SNOWFLAKE_PASSWORD=password_PAT
SNOWFLAKE_USER=username
SNOWFLAKE_ROLE=role_name
SNOWFLAKE_ACCOUNT=account_name
SNOWFLAKE_WAREHOUSE=warehouse_name
SNOWFLAKE_DATABASE=database_name
SNOWFLAKE_SCHEMA=schema_name
SNOWFLAKE_SEMANTIC_VIEW=semantic_view_name